extends layout

block content
  div(class="container")
      ul(class="userlist")
      each user, i in users
        li
          h1 #{user.username}
          form(method='post', action='update' class='regform')
            label Name:
            input(type='text', name='name', value='#{user.username}')
            br
            label Email Address:
            input(type='text', name='email', value='#{user.email}')
            input(type='hidden', name='id', value='#{user._id}')
            input(type='submit', value='Update')
            a(href='/') Home
